<section class="artist-section">
  <div class="container" id="artists">
    <h2 class="artist-title">Artists</h2>
    <h3 class="artist-second-title">Explore Your New Favorite Artists</h3>
    <ul class="artist-card js-artist-card">
      <!-- <li class="artist-card-item">
                <img class="artist-card-img" src="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg" alt="" >
                <ul class="artist-item-info">
                    <li class="item-info-genre">Alternative</li>
                    <li class="item-info-genre" >Pop</li>
                    <li class="item-info-genre">Rock</li>
                    <li class="item-info-genre">Indie</li>
                </ul>
                <div class="artist-info-container">
                    <h4 class="card-item-title">Ren</h4>
                    <p class="card-item-info">
                         Ren Eryn Gill, known professionally as Ren, is a multi-award-winning... 
                    </p>
                </div>
                <div class="btn-learn-more-cont">
                    <button type="button" class="artist-learn-btn">Learn More </button>
                    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 14.5492L8 7.54919L0 0.549194V14.5492Z" fill="white" />
                </svg>
                </div>
            </li> -->
    </ul>
    <div class="artist-load-more-btn-container">
      <button type="button" class="artist-load-more-btn js-artist-loadmore-btn">
        Load More
        <svg
          width="14"
          height="15"
          viewBox="0 0 14 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.707 7.60055L12.293 6.18655L7.99997 10.4796V0.893555H5.99997V10.4796L1.70697 6.18655L0.292969 7.60055L6.99997 14.3076L13.707 7.60055Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
    <span class="loader-hidden js-artist-loader"></span>
  </div>
</section>
