<section class="feedback-section">
  <div class="feedback-container" id="feedback">
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev is-hidden">
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.7069 18.2549L8.41394 13.9619H17.9999V11.9619H8.41394L12.7069 7.66888L11.2929 6.25488L4.58594 12.9619L11.2929 19.6689L12.7069 18.2549Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="swiper-button-next is-hidden">
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.293 18.2549L12.707 19.6689L19.414 12.9619L12.707 6.25488L11.293 7.66888L15.586 11.9619H6V13.9619H15.586L11.293 18.2549Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
    <button type="button" class="leave-feedback-btn" data-feedback-modal-open>
      Leave feedback
    </button>
  </div>
  <script type="module" src="./js/feedback.js"></script>
</section>
