<footer>
  <div class="container">
    <nav>
      <a class="logo" href="./index.html"
        ><svg width="84" height="36">
          <use href="./img/footer/icons.svg#icon-Logo"></use></svg
      ></a>
      <ul>
        <li><a class="footer-nav" href="#artists">Artists</a></li>
        <li><a class="footer-nav" href="#about">About us</a></li>
        <li><a class="footer-nav" href="#reviews">Reviews</a></li>
      </ul>
    </nav>
    <div class="social-section">
      <ul class="social-icons">
        <li>
          <a href="https://www.instagram.com/"
            ><svg class="social-icon">
              <use href="./img/footer/icons.svg#icon-Instagram"></use></svg
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/"
            ><svg class="social-icon">
              <use href="./img/footer/icons.svg#icon-Facebook"></use></svg
          ></a>
        </li>
        <li>
          <a href="https://www.youtube.com/"
            ><svg class="social-icon">
              <use href="./img/footer/icons.svg#icon-Youtube"></use></svg
          ></a>
        </li>
      </ul>
      <p class="rights-reserved">
        &copy; 2025 ArtistsHub. All rights reserved.
      </p>
    </div>
  </div>
</footer>
