<footer>
  <div class="container">
    <nav>
      <a class="logo" href="./index.html" rel="noopener noreferrer"
        ><svg width="84" height="36">
          <use href="./img/footer/icons.svg#icon-Logo"></use>
        </svg>
      </a>
      <ul>
        <li>
          <a class="footer-nav" href="#artists" rel="noopener noreferrer"
            >Artists</a
          >
        </li>
        <li>
          <a class="footer-nav" href="#about" rel="noopener noreferrer"
            >About us</a
          >
        </li>
        <li>
          <a class="footer-nav" href="#feedback" rel="noopener noreferrer"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <div class="social-section">
      <ul class="social-icons">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="social-icon">
              <use href="./img/footer/icons.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="social-icon">
              <use href="./img/footer/icons.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="social-icon">
              <use href="./img/footer/icons.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="rights-reserved">
        &copy; 2025 ArtistsHub. All rights reserved.
      </p>
    </div>
  </div>
</footer>
