<header class="header">
  <div class="header-container">
    <a href="/index.html" class="logo">
      <img src="img/header/logo.svg" alt="Логотип" width="106" height="30" />
    </a>
    <div>
      <nav class="header-nav">
        <ul class="nav-list">
          <li><a href="#artists" class="nav-link">Artists</a></li>
          <li><a href="#about" class="nav-link">About Us</a></li>
          <li><a href="#feedback" class="nav-link">Reviews</a></li>
        </ul>
      </nav>

      <button class="burger-btn mob-is-open" data-menu-open>
        <img src="img/header/burger.svg" alt="burger" width="16" height="12" />
      </button>
    </div>
  </div>
</header>
