<div class="mobile-menu" data-menu>
  <div class="header-mobile-menu">
    <a href="/index.html" class="logo">
      <img src="../img/header/logo.svg" alt="Логотип" width="106" height="30" />
    </a>
    <button class="menu-close-btn" data-menu-close>
      <img
        src="../img/header/btn-close.svg"
        alt="close"
        width="12"
        height="12"
      />
    </button>
  </div>

  <nav class="mob-menu-nav">
    <ul class="mob-menu-list">
      <li><a class="mob-menu-link" href="#artists">Artists</a></li>
      <li><a class="mob-menu-link" href="#about">About Us</a></li>
      <li><a class="mob-menu-link" href="#feedback">Reviews</a></li>
    </ul>
  </nav>
</div>
