/* === Raty stars === */
.raty {
  display: flex;
  line-height: 1;
}

.raty img {
  width: 20px;
  height: 20px;
  margin: 0 2px;
  cursor: pointer;
}

.raty.read-only img {
  cursor: default;
}

.raty .raty-star {
  display: inline-block;
}

/* === Swiper slides === */
.swiper-slide {
  margin: 64px 0 16px 0;
}

.feedback-value {
  margin-bottom: 16px;
}

.stars {
  text-align: center;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.review {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 32px;
}

.author {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

/* === Navigation buttons === */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* === Pagination === */
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.3s;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.is-hidden {
  visibility: hidden;
}

/* === Tablet === */
@media only screen and (min-width: 768px) {
  .review {
    font-size: 26px;
  }
  .feedback-value {
    padding: 0 93px;
  }
  .is-hidden {
    visibility: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 48px;
    height: 48px;
  }

  .swiper-button-prev {
    left: 16px; /* чуть внутрь */
  }

  .swiper-button-next {
    right: 16px; /* чуть внутрь */
  }
}

/* === Desktop === */
@media only screen and (min-width: 1440px) {
  .swiper-wrapper {
    padding: 59px 0;
    margin-bottom: 16px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 56px;
    height: 56px;
  }

  .swiper-button-prev {
    left: 40px; /* внутрь от края */
  }

  .swiper-button-next {
    right: 40px; /* внутрь от края */
  }

  .review {
    font-size: 32px;
    line-height: 130%;
  }

  .feedback-value {
    padding: 0 223px;
  }

  .is-hidden {
    visibility: visible;
  }
}
